extends layout 
block content       
    .container
      h3 Absensi List
      table.content-table
        thead
          tr
            th No.
            th Name
            th Kelas
            th Jam Masuk
            th Keterangan
        tbody
          tr
            td 1
            td(style='border: 2px;') Yudi
            td X MIPA 1
            td 07:00
            td Ngidol
          tr.active-row
            td 2
            td Farhan
            td X MIPA 2
            td 07:00
            td Ngesimp
          tr
            td 3
            td Maki
            td X MIPA 3
            td 07:00
            td Datang Ke Konser