extends layout 
block content
    .container#isiAdmin
        form(action="/api/generate" method='post')
            .form-group
                label(for='Angkatan') Pilih Jenjang
                select(class='form-control' name='Angkatan' id='Angkatan')
                    option(value='X') X
                    option(value='XI') XI
                    option(value='XII') XII
                label(for='Pilihan') Pilih Jurusan
                select(class='form-control' name='Pilihan' id='Pilihan')
                    option(value='IPA') IPA
                    option(value='IPS') IPS
                label(for='Kelas') Pilih Detail Kelas
                select(class='form-control' name='Kelas' id='Kelas')
                    option(value='1') 1
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4
                    option(value='5') 5
                    option(value='6') 6
                    option(value='7') 7
            script.
                //- var gabungan = document.getElementById('gabunganKelas')
                var angkatanData = document.getElementById('Angkatan');
                var angkatanSelected = angkatanData.value;
                var pilihanData = document.getElementById('Pilihan'); 
                var pilihanSelected = pilihanData.value;
                var kelasData = document.getElementById('Kelas'); 
                var kelasSelected = kelasData.value;

                angkatanData.addEventListener('change', function(event) {
                    angkatanSelected = angkatanData.value;
                })
                pilihanData.addEventListener('change', function(event) {
                    pilihanSelected = pilihanData.value;
                })
                kelasData.addEventListener('change', function(event) {
                    kelasSelected = kelasData.value;
                })

            input(class=' btn btn-primary' type='submit', value = ' Generate QR Code' style='margin-right: 20px; background-color: #FE4A55;')
            button(class='btn btn-primary' type='button' onClick ='window.print()' style='margin-right: 20px; background-color: #FE4A55;') Print QR Code
            // Container qr
            .row.justify-content-center.section-to-print
                .col-md-6
                    h1 QR Kelas
                    h2= kelas
                    img.section-image(id='section-to-print' src=qrcode, alt='')