extends layout 
block content
    .container
      h3 Attendance List
      .table-responsive-sm
        table.content-table
          thead
            tr
              th No.
              th Name
              th Kelas
              th Jam Masuk
              th Jam Keluar
          tbody
            tr
              td 1
              td Yudi Hamengkubuwono 10 12 13 14
              td X MIPA 1
              td 07:00
              td 15:00
            tr.active-row
              td 2
              td Farhan
              td X MIPA 2
              td 07:00
              td 15:00
            tr
              td 3
              td Maki
              td X MIPA 3
              td 07:00
              td 15:00