extends layout 
block content  
  .container#isiAdmin
    form(action="/students/" method='post')
      .form-group
        h3 Tambah Akun Murid
        label(for='exampleFormControlSelect1') NIS
        input#inlineFormInput.form-control.mb-2(type='text', placeholder='NIS', name='nis', required)
        label(for='exampleFormControlSelect1') Nama
        input#inlineFormInput.form-control.mb-2(type='text', placeholder='Nama', name='name', required)
        label(for='exampleFormControlSelect1') Kelas
        input#inlineFormInput.form-control.mb-2(type='text', placeholder='Kelas', name='class_id', required)
        label(for='exampleFormControlSelect1') Password
        input#inlineFormInput.form-control.mb-2(type='password', placeholder='Password', name='password', required)
        label(for='exampleFormControlSelect1') Email
        input#inlineFormInput.form-control.mb-2(type='text', placeholder='Email', name='email', required)
        label(for='exampleFormControlSelect1') Jenis Kelamin
        br
        .form-check.form-check-inline
          input.form-check-input(type='radio', id='lakiLaki', name='gender', value='Laki-laki', checked='true', required)
          label.form-check-label(for='lakiLaki')
            | Laki-Laki
        .form-check.form-check-inline
          input.form-check-input(type='radio', id='perempuan', name='gender', value='Perempuan',)
          label.form-check-label(for='perempuan')
            | Perempuan
      button.btn.btn-primary(type='submit', style='margin-right: 20px; background-color: #FE4A55;') Simpan
  br
  br