doctype html
html
  head
    title Form Buku Tamu
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css')
    script(src='https://code.jquery.com/jquery-1.10.2.min.js')
    script(src='https://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js')
    link(rel='stylesheet', href='/jquery-mobile.css')
    script(src='/jquery-mobile.js')
  body
    // ------------ First page for form ---------
    div(data-role='page')
      // ------------ First page header ---------
      div(data-role='header')
        h1 Form Buku Tamu
      // ------------ First page main content ---------
      .ui-content(data-role='main')
        .ui-grid-a
            a(href='/' rel='external')
                input(type='image' src='/Image/Header.png')
        form(method='post', action='/guest', data-ajax='false')
          label(for='nama_tamu')
            | Nama : 
            span
          input#nama_tamu(type='text', name='nama_tamu' placeholder='Nama')
          label(for='asal')
            | Asal Instansi : 
            span
          input#asal(type='text', name='asal', placeholder='Asal Instansi')
          label(for='tujuan') Tujuan :
          textarea#info(name='tujuan', placeholder=' ' style="resize: none;")
          //
            <fieldset data-role="controlgroup">
            <legend>Qualification:</legend>
            <label for="graduation">Graduation</label>
            <input type="checkbox" id="graduation" value="graduation">
            <label for="postgraduation">Post Graduation</label>
            <input type="checkbox" id="postgraduation" value="postgraduation">
            <label for="other">Other</label>
            <input type="checkbox" id="other" value="other">
            </fieldset>
            <label for="info">Message:</label>
            <textarea name="addinfo" id="info" placeholder="Message"></textarea>
          input(type='submit', data-inline='true', value='Submit', data-theme='b')
      //
        -----------------------------------------------------------
        End of First page
        ------------------------------------------------------------
      // ------------ Second page ---------
      #pageone(data-role='page')
        // ------------ Second page header ---------
        div(data-role='header')
          h1 Form Buku Tamu
        // ------------ Second page main content ---------
        .ui-content(data-role='main')
          h2 Form Buku Tamu...!!
      //
        -----------------------------------------------------------
        End of Second page
        ------------------------------------------------------------