extends layout

block content
  h1= title
  p Welcome to #{title}
  h1 Admin 
  |
  form(action="/api/generate", method="POST")
    p
      | Generate QR Code 
      br
      input(type="text", name="QRData", value="Test")  
      |
    input(value='Generate', type='submit')
  |
  div(class="qr") QR
    #{qrcode}
  h1 Student
  |
  |
